<footer id="footer" class="footer">



    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="index.html" class="d-flex align-items-center">
                    <span class="sitename">Kedai Imaji</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Jl. Hasanudin No.27, RT.16, Mendawai</p>
                    <p>Kec. Arut Sel., Kabupaten Kotawaringin Barat, Kalimantan Tengah 74115</p>
                    <p><strong>Email:</strong> <span>kedaiimaji@gmail.com</span></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Menu</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Food & Beverages</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Buy & Sell Coffee Seed</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Coffee Machine</a></li>
                    <li><i class="fa fa-chevron-right"></i> <a href="#">Photobox</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h4>Follow Us</h4>
                <div class="social-links d-flex">
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Kedai Imaji</strong> <span>All Rights Reserved</span>
        </p>

    </div>

</footer>