<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-menu-items px-4 border shadow-0">

        <a href="/product" class="pt-3">
            <img src="https://ik.imagekit.io/coffeeshopteam3/land1.jpg?updatedAt=1716003670275" class="card-img-top card-img-menu img-fluid" alt="...">

        </a>
        <div class="card-body card-body-menu">
            <h5 class="card-title">Kopi Susu<span class="subtitle"><i class="fa-regular fa-heart"></i></span></h5>
            <h6 class="card-subtitle mb-4 text-body-secondary">Rp.25000</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary star-subtitle">
                <div class="stars">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <span class="subtitle">244 item sold</span>
            </h6>
        </div>
    </div>
</div>